name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: SonarCloud Scan
        run: |
          mvn -B verify sonar:sonar -DskipTests=true -Pskip-cucumber \
            -Dsonar.projectKey=fer8955_retoTecnicoChoucair \
            -Dsonar.organization=fer8955 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

  selenium-tests:
    runs-on: ubuntu-latest
    needs: []

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      # --- Instalar Google Chrome ---
      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      # --- Instalar ChromeDriver ---
      - name: Setup ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      # Verificar versiones (opcional)
      - name: Check versions
        run: |
          google-chrome --version
          chromedriver --version

      - name: Run Selenium Tests
        run: mvn -B test
